<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Footer</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="styles/footer.css">
    

</head>
<body>
    <!-- Footer Section -->
    <footer>
        <div>
        <!-- Social Media Icons -->
          <section> 
            <div class="footer-section">
              <h3>FOLLOW NELLID ON</h3>
            </div>    
            <div class="font-awesome-social-icons">
                <a href="https://x.com/Nellidsongs?t=C9KwIMx5joCK6mwKOdOBTg&s=09" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/nellid__?igsh=MXNiamhzbTIzOXJhdg==" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/Fansofnellid" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://open.spotify.com/artist/1GEHO31K2CA1EYdydUfd9w" target="_blank"><i class="fab fa-spotify"></i></a>
                <a href="https://youtube.com/@nellyd_?si=GNynzavgX4op2ciJ" target="_blank"><i class="fab fa-youtube"></i></a>
                <a href="https://music.apple.com/us/artist/nellid/1570951547" target="_blank"><i class="fab fa-apple"></i></a>
              </div>
          </section>
        </div>
        <div>
          <p class="copy-right">&copy; 2024 
            <a class="pricelessmusicng" href="#"><span>Priceless Music NG</span></a>
            All rights reserved.</p>
        </div>
    </footer>

    <script>src="js/modal.js"</script>
    <script>src="js/slider.js"</script>
    <script src="js/back-to-top-btn.js"></script>

</body>
</html>
