
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  color: black;
  height: 100px;
}
.logo {
  height: 75px;
  margin-left: 45px;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-right: 40px;
}

.nav-links li {
  margin: 0 15px;
  position: relative; /* Allows dropdowns to be positioned relative to their parent */
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}
.nav-links a:hover {
  border: 2px solid #8f6152;
  padding: 10px 30px;
}

/* Dropdown styles */
.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  min-width: 150px;
  list-style: none;
  padding: 10px 0;
}

.dropdown li {
  margin: 0;
  text-align: left;
}

.dropdown a {
  padding: 10px 20px;
  display: block;
  color: black;
  font-weight: bold;
}

.dropdown a:hover {
  color: #8f6152;
}

/* Show the dropdown on hover */
.nav-links li:hover .dropdown {
  display: block;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #000000;
  margin: 4px 0;
}
.hamburger :hover {
  background-color: #8f6152;
}
        /* Font Awesome icon */
      .header-font-awesome-social-icons {
          display: flex;
          justify-content: center; /* Center the icons */
          align-items: center;    
      }
      .header-position-social-icons {
        margin-right: 0;
      }
      .header-font-awesome-social-icons a {
          text-decoration: none; /* Remove underline */
          margin: 0 15px; /* Add space between icons */
          color: #000000; /* Default color for icons */
          font-size: 1.2em; /* Size of the icons */
          transition: color 0.3s; /* Smooth transition for color change */
      }

      /* Hover effect for social media icons */
      .header-font-awesome-social-icons a:hover {
          color: #8f6152; /* Change color on hover */
      }





 /* Responsive Styles for Mobile only */
 @media(min-width: 320px) and (max-width: 399px) {



  }
/* Responsive Styles for Mobile and Tablet */
@media(min-width: 400px) and (max-width: 750px) {
  .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 70px;
      left: 0;
      background-color: #ffffff;
      padding: 10px 0;
  }

  .nav-links li {
      margin: 10px 0;
      text-align: center;
  }

  .nav-links.active {
      display: flex;
  }

  .dropdown {
      position: static;
      display: none;
  }

  .nav-links li:hover .dropdown {
      display: block;
  }
  .hamburger {
      display: flex;
  }
  .header-font-awesome-social-icons a {
    text-decoration: none; 
    margin: 0 7px; 
    color: #000000; 
    font-size: 0.9em; 
    transition: color 0.3s;
  }
  .logo {
    height: 47px;
    margin-left: 25px;
  }
}
/* Responsive Styles for Mobile and Tablet */
@media(min-width: 751px) and (max-width: 999px) {
  .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 70px;
      left: 0;
      background-color: #ffffff;
      padding: 10px 0;
  }
  .nav-links li {
      margin: 10px 0;
      text-align: center;
  }
  .nav-links.active {
      display: flex;
  }
  .dropdown {
      position: static;
      display: none;
  }
  .nav-links li:hover .dropdown {
      display: block;
  }
  .hamburger {
      display: flex;
  }
  .header-font-awesome-social-icons a {
    text-decoration: none; 
    margin: 0 7px; 
    color: #000000; 
    font-size: 1.1em; 
    margin-left: 25px;
    transition: color 0.3s;
  }
  .header-position-social-icons {
    margin-right: 50px;
  }
  .logo {
    height: 70px;
    margin-left: 15px;
  }
}







